.font-l {
    font-size: $font-l;
}

.font-m {
    font-size: $font-m;
}

.font-s {
    font-size: $font-s;
}

.lh-l {
    line-height: $lh-l;
}

.lh-m {
    line-height: $lh-m;
}

.lh-s {
    line-height: $lh-s;
}

.primary {
    color: $primary;

}

.secondary {
    color: $secondary;
}

.danger {
    color: $danger;
}



.pos-a {
    position: absolute;
}

.pos-r {
    position: relative;
}


.bold {
    font-weight: 700;
}

.hover:hover {
    color: $dark;
}

.h2 {
    font-size: 48px;
    font-weight: 700;
    color: $primary;
    text-align: center;
    margin-bottom: 48px;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}

.ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.w-full {
    width: 100%;
}

.indent-12 {
    text-indent: 12px;
}

.h-36 {
    height: 36px;
}

.title {
    color: $dark;
    margin-bottom: 33px;
    text-align: left;
    border-left: 8px solid #9F1213;
    padding-left: 12px;
    font-size: $h2-font-size;
}

// ˋ字體
.roboto {
    font-family: 'Roboto',sans-serif;
}


// font-size
.fz-0 {
    font-size: $font-size-base;
}

.fz-1 {
    font-size: $h1-font-size;
}

.fz-2 {
    font-size: $h2-font-size;
}

.fz-3 {
    font-size: $h3-font-size;
}

.fz-4 {
    font-size: $h4-font-size;
}

.fz-5 {
    font-size: $h5-font-size;
}

.fz-6 {
    font-size: $h6-font-size;
}

// font-weight

.fontW-med {
    font-weight: $fontW-med;
}

.fontW-bold {
    font-weight: $fontW-bold;
}

.fontW-black {
    font-weight: $fontW-black;
}

// flex

.df {
    display: flex;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.df-c {
    display: flex;
    flex-direction: column;
}

.align-end {
    align-self: flex-end;
}

.fx-grow {
    flex-grow: 1;
}