

@include pad {
  .container {
    max-width: 720px;

  }
}

@include mobile {
  .container {
    max-width: 372px;    
  }
}



// l-header
.l-header {
  background: $danger;
  padding-top: 12px;
  padding-bottom: 12px;

  @include mobile {
    padding: 0px;
  }

  .container {
    @include mobile {
      max-width: 100%;
      padding-right: 0px;
      padding-left: 0px;
      flex-wrap: wrap;
    }
  }

  .l-header__title {
    @include mobile {
      margin: 16px 0px 16px 12px;
    }

    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 48px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
  }


}

.l-header__nav {
  @include mobile {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  a {
    @include mobile {
      padding: 12px 0;
    }

    color: $light;
    padding-top: 13px;
    padding-bottom: 13px;

    .hover:hover {
      @include mobile {
        border-bottom: none;
      }

    }
  }

  .l-header__nav__list {
    @include mobile {
      text-align: center;
      width: 50%;
      border: 1px solid $light;
    }

    font-size: 20px;
  }

  .l-header__nav__list:not(:last-child) {
    @include mobile {
      margin-right: 0;
    }

    margin-right: 64px;
  }
}

// l-header-end