<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>眼鏡官網</title>

</head>

<body>
    <%- include('./layout/header'); -%>
        <main class="store store-page">

            <div class="container">
                <h1 class="h2">門市據點</h1>
                <form action="#" class="store__form"><label for="area" class="fz-4">選擇分店</label><select name="area"
                        id="area">
                        <option value="台北中山旗艦店">台北中山旗艦店</option>

                    </select></form>
                <ul class="store__menu store-page__menu  ">
                    <li class="store__menu__list store-page__menu__list col-5 ">
                        <a href="store.html" class="col-md-6 col-md-12 "><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
                                alt="store-1"></a>
                        <div class="store-page__menu__box col-md-6 col-md-12">
                            <h3 class="fz-4">台北中山旗艦店</h3>
                            <div class="store__menu__list__info">
                                <p class="fz-5 df aic"><span class="material-symbols-outlined">
                                        call
                                    </span>電話：(02)000-1234</p>
                                <p class="fz-5 df aic"><span class="material-symbols-outlined">
                                        schedule
                                    </span>營業時間：10:00-21:00</p>
                                <p class="fz-5 df"><span class="material-symbols-outlined">
                                        location_on
                                    </span>地址：台北市中山區南京東路25巷2-1號</p>
                            </div>
                        </div>


                    </li>
              
                    <div class="map    col-mdpad-12" title="地點">
                        <!-- <img class="map" src="https://lurl.cc/JDmE9Y" alt=""> -->
                            <!-- <div class="map " ></div> -->
                    </div>


                </ul>

            </div>
        </main>





        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>